body {
    background-image: url("../../Downloads/background.jpg");
}

.container {
    position: relative;
    width: 90%;
    padding: 2%;
    flex-direction: column;
    margin-left: 5%;
    justify-content: center;
}

.block1 {
    display: flex;
    padding: 1%;
    border: 1px solid #dcd6d6;
    background-color: white;
}

.block2 {
    display: flex;
    border: 1px solid #dcd6d6;
    background-color: white;
}

.payment {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1%;
}


/* .wallet {
    display: flex;
    /* flex-direction: row; }*/

.cart {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1%;
    background-color: #e4e4e4;
}

.amt {
    margin-left: 2%;
    width: 125%;
    text-align: left;
    flex: 1;
}

.price {
    width: 50%;
    text-align: left;
    flex: 1;
}

.first {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    flex: 1;
    /* order: 2; */
}

.mobile,
.rado,
.c-type,
.case {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 2;
}

.list-1 {
    display: inline;
}

.list-1+::before {
    content: '/';
    padding: 2%;
}

.list {
    width: 25%;
    padding-left: 10%;
}

.fa {
    position: absolute;
    margin-left: 92%;
}

#name,
#acc {
    border-radius: 5px;
    margin-left: 25%;
    color: grey;
    padding: 1%;
    width: 40%;
}

#exp {
    border-radius: 5px;
    margin-left: 25%;
    color: grey;
    padding: 1%;
    width: 20%
}

#cvv {
    border-radius: 5px;
    color: grey;
    padding: 1%;
    width: 20%
}

.button {
    background-color: #4CAF50;
    width: 40%;
    color: white;
    border: none;
    margin-left: 25%;
    padding: 2%;
    text-align: center;
}

img.a {
    vertical-align: baseline;
}