body {
    background-image: url("./images/background.jpg");
}

.container {
    position: relative;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: center;
}

.block1 {
    display: flex;
    flex: 1;
    padding: 1%;
    border: 1px solid #dcd6d6;
    background-color: white;
}

.block2 {
    display: flex;
    flex: 1;
    border: 1px solid #dcd6d6;
    background-color: white;
}

.payment {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.image {
    display: flex;
    flex-direction: row;
}

.co_image {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.co_img {
    width: 100%;
    padding: 2%;
}

.co_image:hover {
    border-radius: 1px;
    border: 2px solid #e4e4e4;
    background-color: #e4e4e4;
}

.cart {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: #eaeaea;
}

.amt {
    margin-left: 1%;
    flex: 1;
    text-align: left;
    font-size: medium;
}

.price {
    text-align: right;
    flex: 1;
    font-size: 15px;
}

.buy {
    margin-left: 1%;
    flex: 1;
    text-align: left;
    font-size: 14px;
}

.second {
    padding-top: 12%;
    flex: 1;
}

.summary {
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: row;
    flex: 2;
}

.co_item {
    border: 6px solid #cec8c8;
}

.list-1 {
    display: inline;
}

.list-1+ ::before {
    content: '/';
}

.list {
    width: 35%;
    padding-left: 10%;
}

.fa {
    position: absolute;
    margin-left: 90%;
}

#name,
#acc {
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: 25%;
    padding: 1%;
    width: 40%;
}

#exp {
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: 25%;
    padding: 1%;
    width: 20%
}

#cvv {
    border-radius: 5px;
    border: 1px solid grey;
    padding: 1%;
    width: 20%
}

.button {
    background-color: #4CAF50;
    width: 40%;
    color: white;
    border: none;
    margin-left: 25%;
    padding: 2%;
    text-align: center;
}

@media (min-width:992px) {
    .container {
        margin-left: 100px;
        margin-right: 100px;
    }
    .payment {
        flex: 3;
    }
    .cart {
        flex: 2;
    }
}

@media (max-width:992px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .payment {
        flex: 1;
    }
    .cart {
        flex: 1;
    }
}

@media (max-width:600px) {
    .block2 {
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px) {
    .list {
        display: none;
    }
}

@media (max-width: 400px) {
    .image {
        display: flex;
        flex-direction: column;
    }
}