body {
    background-image: url("./images/background.jpg");
    border: transparent solid 1px;
}

.container {
    position: relative; 
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    box-shadow: 10px 5px 5px gray;
}

.block1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1%;
    border: 1px solid #dcd6d6;
    background-color: white;
}

.block2 {
    display: flex;
    flex: 1;
    border: 1px solid #dcd6d6;
    background-color: white;
}

.payment {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.image {
    display: flex;
    flex-direction: row;
}

.co_image {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1%;
    color: black;
    font-size: small;
}

.co_img {
    width: 100%;
    padding: 2%;
}
.item_image {
    border: 5px solid gray;
    width: 65px;
    height: 65px;
}

.co_image:hover {
    border-radius: 1px;
    border: 2px solid #e4e4e4;
    background-color: #e4e4e4;
}

.cart {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: #eaeaea;
}

.amt {
    margin-left: 1%;
    flex: 6;
    text-align: left;
    font-size: medium;
}

.price {
    text-align: right;
    flex: 1;
    font-size: 15px;
}

.buy {
    margin-left: 1%;
    flex: 1;
    text-align: left;
    font-size: 14px;
}

.second {
    padding-top: 8%;
    flex: 1;
}

.summary {
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: row;
    flex: 2;
}

.co_item {
    /* border: 6px solid #cec8c8; */
    flex: 1;
}

.list-1 {
    display: inline;
}

.list-1+ ::before {
    content: '/';
}
.checkout {
    flex: 1;
}

.list {
    flex: 6;
    text-align: left;
}

.icon {
    padding-left: auto;
}
.wallet {
    color: gray;
    padding-top: 2%;
    flex: 1;
}
.new {
    color: gray;
    padding-top: 2%;
    flex: 2;
}
#name,
#acc {
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: 20%;
    padding: 1%;
    width: 50%;
}

#exp {
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: 20%;
    padding: 1%;
    width: 25%
}

#cvv {
    border-radius: 5px;
    border: 1px solid grey;
    padding: 1%;
    width: 25%
}

.button {
    background-color: #4CAF50;
    width: 50%;
    color: white;
    border: none;
    margin-left: 20%;
    padding: 2%;
    text-align: center;
}

@media (min-width:992px) {
    .container {
        margin-left: 100px;
        margin-right: 100px;
    }
    .payment {
        flex: 3;
    }
    .cart {
        flex: 2;
    }
}

@media (max-width:992px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .payment {
        flex: 1;
    }
    .cart {
        flex: 1;
    }
}

@media (max-width:600px) {
    .block2 {
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px) {
    .list {
        display: none;
    }
}

@media (max-width: 400px) {
    .image {
        display: flex;
        flex-direction: column;
    }
}